@font-face {
	font-family: "Lato-Bold";
	src: url("../fonts/LatoBold.ttf") format("truetype");
}
@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/LatoRegular.ttf") format("truetype");
}
@font-face {
	font-family: "PT_Serif-Web-Bold";
	src: url("../fonts/PT_Serif-Web-Bold.ttf") format("truetype");
}